.navigation {
  grid-area: 1 / 1 / 5 / 1;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  gap: 0.5rem;
  cursor: pointer;

  padding: 1.5rem;

  border: 1px solid red;
}

.container {
  display: flex;
  flex-direction: row;
}

.navContainer {
  margin-top: 5rem;
}

.label {
  display: none;
}

.logo {
  width: 20px;
  height: 20px;
  border: 1px solid red;
}

.navigation:hover .label {
  display: block;
}

.navigation:hover {
  z-index: 1000;
  position: relative;
}

.navigation:hover .logo {
  display: block;
}
